USE [Job_Portal]
GO
/****** Object:  Table [dbo].[State]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[State] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StateAnd District] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON
INSERT [dbo].[State] ([SrNo], [State]) VALUES (1, N'Andhra Pradesh')
INSERT [dbo].[State] ([SrNo], [State]) VALUES (2, N'Arunachal Pradesh')
INSERT [dbo].[State] ([SrNo], [State]) VALUES (3, N'Assam')
SET IDENTITY_INSERT [dbo].[State] OFF
/****** Object:  Table [dbo].[recruiter]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[recruiter](
	[srNo] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[gender] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[location] [varchar](50) NULL,
	[jobProfile] [varchar](250) NULL,
	[job_Desc] [varchar](250) NULL,
	[jobDate] [varchar](50) NULL,
	[lastDate] [datetime] NOT NULL,
 CONSTRAINT [PK_recruiter] PRIMARY KEY CLUSTERED 
(
	[srNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[recruiter] ON
INSERT [dbo].[recruiter] ([srNo], [firstName], [lastName], [gender], [mobile], [email], [location], [jobProfile], [job_Desc], [jobDate], [lastDate]) VALUES (1, N'Shriram', N'Kumar', N'Male', N'89632545600', N'bharat.sriram@gmail.com', N'Bhojpur', N'WebMaster', N'Full stackDeveloper', N'2017-02-12', CAST(0x0000A92D0002A644 AS DateTime))
INSERT [dbo].[recruiter] ([srNo], [firstName], [lastName], [gender], [mobile], [email], [location], [jobProfile], [job_Desc], [jobDate], [lastDate]) VALUES (2, N'BharatTT', N'Kumar', N'Male', N'7896541230', N'bhrtsriram@gmail.com', N'Mumbai', N'WebMaster', N'Full Stack', N'2017-11-15', CAST(0x0000A92E00ACE360 AS DateTime))
INSERT [dbo].[recruiter] ([srNo], [firstName], [lastName], [gender], [mobile], [email], [location], [jobProfile], [job_Desc], [jobDate], [lastDate]) VALUES (3, N'BharatTT', N'Kumar', N'Male', N'9856321470', N'bhrtsa@gmail.com', N'Nagpur', N'Software%20Developer', N'Full Stack', N'2018-08-20', CAST(0x0000A92E00CE4C8C AS DateTime))
SET IDENTITY_INSERT [dbo].[recruiter] OFF
/****** Object:  Table [dbo].[Profile]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profile](
	[srno] [int] IDENTITY(1,1) NOT NULL,
	[profile] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[srno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Profile] ON
INSERT [dbo].[Profile] ([srno], [profile]) VALUES (1, N'Software%20Developer')
INSERT [dbo].[Profile] ([srno], [profile]) VALUES (2, N'Team%20Lead')
INSERT [dbo].[Profile] ([srno], [profile]) VALUES (3, N'System%20Analyst')
SET IDENTITY_INSERT [dbo].[Profile] OFF
/****** Object:  Table [dbo].[mdc_user_role]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mdc_user_role](
	[role_id] [int] NOT NULL,
	[role_desc] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[mdc_user_role] ([role_id], [role_desc]) VALUES (1, N'Recuriter')
INSERT [dbo].[mdc_user_role] ([role_id], [role_desc]) VALUES (2, N'Applicant')
/****** Object:  Table [dbo].[mdc_user]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mdc_user](
	[user_srlno] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[user_nm] [varchar](100) NOT NULL,
	[user_password] [varchar](100) NOT NULL,
	[role_id] [varchar](50) NOT NULL,
	[active_flg] [int] NOT NULL,
	[applicant_id] [int] NOT NULL,
	[recu_id] [int] NOT NULL,
 CONSTRAINT [PK_mdc_user] PRIMARY KEY CLUSTERED 
(
	[user_srlno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[mdc_user] ON
INSERT [dbo].[mdc_user] ([user_srlno], [user_id], [user_nm], [user_password], [role_id], [active_flg], [applicant_id], [recu_id]) VALUES (1, N'bha5482@gmail.com', N'applicant', N'cvp/LzpadrQT+2k0WDjyOQ==', N'2', 1, 1, 0)
INSERT [dbo].[mdc_user] ([user_srlno], [user_id], [user_nm], [user_password], [role_id], [active_flg], [applicant_id], [recu_id]) VALUES (2, N'Admin', N'Admin', N'KTf/lkk1OLuruZ95YgzoJw==', N'1', 1, 0, 1)
INSERT [dbo].[mdc_user] ([user_srlno], [user_id], [user_nm], [user_password], [role_id], [active_flg], [applicant_id], [recu_id]) VALUES (3, N'bhrtsriram@gmail.com', N'bhrtsa@gmail.com', N'cvp/LzpadrQT+2k0WDjyOQ==', N'1', 1, 0, 2)
SET IDENTITY_INSERT [dbo].[mdc_user] OFF
/****** Object:  Table [dbo].[ListOfDistrict]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ListOfDistrict](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[StateId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ListOfDistrict] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ListOfDistrict] ON
INSERT [dbo].[ListOfDistrict] ([SrNo], [StateId], [Name]) VALUES (1, 1, N'Anantapur')
INSERT [dbo].[ListOfDistrict] ([SrNo], [StateId], [Name]) VALUES (2, 1, N'Chittoor')
INSERT [dbo].[ListOfDistrict] ([SrNo], [StateId], [Name]) VALUES (3, 1, N'East Godavari')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[ListOfDistrict] OFF
/****** Object:  Table [dbo].[applyJob]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[applyJob](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[applicant_id] [int] NOT NULL,
	[recruiter_id] [int] NOT NULL,
	[jobProfile] [varchar](50) NULL,
	[lastDate] [datetime] NOT NULL,
 CONSTRAINT [PK_applyJob] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[applyJob] ON
INSERT [dbo].[applyJob] ([SrNo], [applicant_id], [recruiter_id], [jobProfile], [lastDate]) VALUES (3, 1, 3, N'Software%20Developer', CAST(0x0000A92B00E142C7 AS DateTime))
INSERT [dbo].[applyJob] ([SrNo], [applicant_id], [recruiter_id], [jobProfile], [lastDate]) VALUES (4, 1, 3, N'Software%20Developer', CAST(0x0000A92B00FBE5DB AS DateTime))
INSERT [dbo].[applyJob] ([SrNo], [applicant_id], [recruiter_id], [jobProfile], [lastDate]) VALUES (5, 3, 3, N'Software%20Developer', CAST(0x0000A92E00C85F97 AS DateTime))
SET IDENTITY_INSERT [dbo].[applyJob] OFF
/****** Object:  Table [dbo].[applicant]    Script Date: 07/31/2018 14:45:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[applicant](
	[srNo] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[gender] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[currentLocation] [varchar](50) NULL,
	[profileSummary] [varchar](250) NULL,
	[keySkill] [varchar](250) NULL,
	[designation] [varchar](50) NULL,
	[organization] [varchar](50) NULL,
	[startDate] [varchar](50) NULL,
	[endDate] [varchar](50) NULL,
	[JobProfile] [varchar](250) NULL,
	[noticePeriod] [varchar](50) NULL,
	[projectTitle] [varchar](250) NULL,
	[projectStartDate] [varchar](50) NULL,
	[projectEndDate] [varchar](50) NULL,
	[projectDetails] [varchar](50) NULL,
	[projectRole] [varchar](50) NULL,
	[projectSkill] [varchar](250) NULL,
	[education] [varchar](50) NULL,
	[passoutYear] [varchar](50) NULL,
	[marks] [varchar](50) NULL,
	[lastaDate] [datetime] NOT NULL,
 CONSTRAINT [PK_applicant] PRIMARY KEY CLUSTERED 
(
	[srNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[applicant] ON
INSERT [dbo].[applicant] ([srNo], [firstName], [lastName], [gender], [mobile], [email], [currentLocation], [profileSummary], [keySkill], [designation], [organization], [startDate], [endDate], [JobProfile], [noticePeriod], [projectTitle], [projectStartDate], [projectEndDate], [projectDetails], [projectRole], [projectSkill], [education], [passoutYear], [marks], [lastaDate]) VALUES (2, N'Rohit', N'kuchan', NULL, NULL, N'kuchan@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A92C014AB786 AS DateTime))
SET IDENTITY_INSERT [dbo].[applicant] OFF
